@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
}

.img {
  position: relative;
  right: -100px;
  top: 80px;
}

.mania {
  position: relative;
  width: 174.86px;
  height: 59px;
  left: 148.14px;
  top: 10px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #FF8C42;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
  position: relative;
  width: 139px;
  height: 41px;
  left: 750px;
  top: -20px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF8C42;
}

.menu {
  position: absolute;
  width: 138px;
  height: 41px;
  left: 900px;
  top: 90px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF8C42;
}

.special {
  position: relative;
  width: 347px;
  height: 41px;
  left: 1050px;
  top: -62px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF8C42;
}

.contact {
  position: relative;
  width: 194px;
  height: 41px;
  left: 1400px;
  top: -102px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF8C42;
}

.discription {
  position: relative;
  width: 562px;
  height: 125px;
  left: 90px;
  top: 50px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 120px;
  color: #FF8C42;
}

.about {
  position: relative;
  width: 379px;
  height: 160px;
  left: 95px;
  top: 30px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: #FF8C42;
}

.search {
  position: relative;
  width: 283px;
  height: 40px;
  left: 95px;
  top: 100px;
  border: 4px solid #FF8C42;
  border-radius: 5px;
  background-color: #151515;
}

.btn {
  position: relative;
  width: 201px;
  height: 40px;
  left: 380px;
  top: 60px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #FF8C42;
  border: #FF8C42;
}

.p {
  position: relative;
  left: 20px;
  top: 1px;
}

.img1 {
  position: relative;
  left: 15px;
  top: 1px;
}

.btn1 {
  position: relative;
  width: 191px;
  height: 68px;
  left: 95px;
  top: 120px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF8C42;
  border: #FF8C42;
}

.p1 {
  position: relative;
  left: 48px;
  top: 0px;
}

.img2 {
  position: relative;
  right: -550px;
  top: -700px;
  bottom: 0px;
}/*# sourceMappingURL=style.css.map */